<div class="{{css_prefix}}metabox_links">
  {% for row in rows %}
  <div class="{{css_prefix}}row">
    {% for field in row.fields %}
    <div class="meta-options {{css_prefix}}field {{field.class}} ">
      <label class="{{field.label_class}}" for="{{field.id}}"
        >{{field.label}}</label
      >
      <input
        id="{{field.id}}"
        type="{{field.type}}"
        name="{{field.name}}"
        class="txt {{field.input_class}}"
        placeholder="{{field.placeholder}}"
        value="{{field.value}}"
      />
    </div>
    {% endfor %}
  </div>
  {% endfor %}
</div>
