// main: polen.less

.yq_polen_materiales {
  display: grid;
  grid-template-columns: 100%;
  margin-bottom: 1em;

  .yq_polen_material {
    box-shadow: 0 0.5em 0.75em rgba(0, 0, 0, 0.24);
    margin: 1em 0 1.5em;
    padding: 1em;

    .yq_polen_material_title {
      text-align: left;
      font-weight: bold;
    }

    .yq_polen_material_content {
      .yq_polen_material_image_area {
        overflow: hidden;
        img {
          border: solid 1px #ccc;
          border-radius: 4px;
          height: auto;
          width: 100%;
        }
      }

      .yq_polen_material_description_area {
        p:first-child {
          margin-top: 0;
        }

        .yq_polen_material_links_area {
          margin-top: 1em;

          a.material-link {
            display: block;
            border-radius: 0.25em;
            border: none;
            padding: 0.375em 0.875em;
            margin: 0.5em 1em 1.25em 0;
            background: var(--wp--preset--color--accent-1);
            color: white;
            min-width: 8em;
            text-align: center;
            box-shadow: 0 0.125em 0.5em rgba(0, 0, 0, 0.25);
            transition: all 0.5s;
            font-weight: bold;
            text-align: left;
            line-height: 1.5;

            &:hover,
            &:active {
              background: var(--wp--preset--color--accent-2);
              color: white;
              box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.125);
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .yq_polen_materiales {
    .yq_polen_material {
      .yq_polen_material_content {
        .yq_polen_material_description_area {
          .yq_polen_material_links_area {
            a.material-link {
              display: inline-block;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .yq_polen_materiales {
    grid-template-columns: 49% 49%;
    grid-gap: 2%;

    .yq_polen_material {
      margin-top: 1.25em;
      padding: 2em;

      .yq_polen_material_content {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 38% 60%;
        direction: rtl;
        grid-gap: 2%;

        & > * {
          direction: ltr;
        }

        &.yq_polen_single_column {
          grid-template-columns: 1fr;
        }

        .yq_polen_material_description_area {
          text-align: left;
          .yq_polen_material_links_area {
            margin-top: 1em;
            a.material-link {
              display: inline-block;
              margin-bottom: 0.25em;
            }
          }
        }
      }
    }
  }
}
